@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@font-face {
    font-family: 'Cabazon';
    src: url('Cabazon.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    color: white;
}

body {
    background: black;
}

h1 {
    font-size: 26px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

p.info {
    font-size: 20px;
    width: 52%;
    margin: 15px auto 15px auto;
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 69px;
    text-align: center;
    padding: 10px;
    background: #080808;
    color: white;
    border-bottom: 1px solid white;
    z-index: 666;
}

#bernkastel, #ether {
    margin: 80px 0 0 10px;
    position: fixed;
    opacity: 50%;
    z-index: 1000;
}

#layerNeko0 {
    position: fixed !important;
}

img#logo {
    height: 49px;
}

.footer {
    position: fixed;
    padding: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: white;
    z-index: 999;
}

.copyright {
    float: left;
}

.cursorButton {
    float: right;
    background: white;
    color: black;
    padding: 3px 6px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.showcase {
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

a#btn {
    display: inline-block;
    margin: auto;
    opacity: 0;
    background: #fff;
    text-decoration: none;
}

.page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
}

.eva {
    width: 50%;
}

div.eva {
    width: 100%;
    text-align: center;
}

.infobox {
    display: block;
    background: black;
    padding: 2% 0 2% 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

#tapeFloat {
    width: 60%;
    margin: 15px auto 15px auto;
}

div.tapes {
    float: left;
    width: 33%;
}

div.tapes img {
    width: 100%;
    padding: 10px;
}

#evaIs {
    font-size: 1.8vw;
    text-align: left;
}

.ytEmbed {
    margin: 15px 0 15px 0;
    text-align: center;
    width: 100%;
}

#bio {
    font-size: 22px;
    width: 52%;
    margin: 15px auto 15px auto;
    text-align: center;

    font-family: 'Cabazon', sans-serif;
    font-weight: 400;
    background-image: url("https://i.gifer.com/ByMI.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.selfie {
    width: 30%;
}

#dr1 {
    left: 76px;
    top: -297px;
    position: relative;
    z-index: 0;
}

#dr2 {
    left: -98px;
    top: -65px;
    position: relative;
    z-index: 0;
}

#dr3 {
    left: -133px;
    top: -337px;
    position: relative;
    z-index: 0;
}

#dr4 {
    left: -224px;
    top: 150px;
    position: relative;
    z-index: 0;
}

#dr5 {
    left: -237px;
    top: -339px;
    position: relative;
    z-index: 0;
}

#dr6 {
    left: -226px;
    top: 116px;
    position: relative;
    z-index: 0;
}

#dr7 {
    left: -295px;
    top: -323px;
    position: relative;
    z-index: 0;
}

.drgImg1 {
    width: 400px;
    position: absolute;
}

iframe.drgImg1 {
    height: 120px;
    top: 400px
}

.drgImg2 {
    width: 260px;
    position: absolute;
}

.drgImg3 {
    width: 200px;
    position: absolute;
}

.drgImg4 {
    width: 300px;
    position: absolute;
}

.drgImg5 {
    width: 260px;
    position: absolute;
}

.drgImg6 {
    width: 300px;
    position: absolute;
}

.drgImg7 {
    width: 260px;
    position: absolute;
}

.mobileSpace {
    position: absolute;
    opacity: 0;
}

.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#hoverImg #img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#hoverImg:hover #img-top {
    display: inline;
}

#tba {
    cursor: pointer;
}

.artist:link {
    text-decoration: underline;
}

.artist:hover {
    text-decoration: line-through;
}

.commentDiv {
    padding: 100px 20px;
}

.hcb-wrapper {
    width: 700px;
}

.home-desc, .hcb-icon, #hcb_subscribe, #hcb_settings, .likes, .hcb-like {
    display: none !important;
}

[title="next page"], [title="previous page"] {
    display: table !important;
}

#winamp-container {
    position: absolute;
    top: 300px;
    left: 200px;
}

#chat-container {
    position: absolute;
    top: 500px;
    right: 100px;
}

/* Portrait */
@media screen and (orientation: portrait) {
    a#btn {
        padding: 14% 34%;
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    a#btn {
        padding: 7% 17%;
    }
}

@media only screen and (max-width: 900px) {
    p.info {
        width: 90%;
    }

    #evaIs {
        font-size: 3vw;
    }

    #dr1 {
        left: 12px;
        top: -239px;
    }

    #dr2 {
        left: -48px;
        top: -31px;
    }

    #dr3 {
        left: 95px;
        top: 108px;
    }

    #dr4 {
        left: -148px;
        top: 600px;
    }

    #dr5 {
        left: -47px;
        top: -148px;
    }

    #dr6 {
        left: -297px;
        top: 137px;
    }

    #dr7 {
        left: -256px;
        top: 307px;
    }

    .drgImg1 {
        width: 200px;
    }

    iframe.drgImg1 {
        display: none;
    }

    .drgImg2 {
        width: 200px;
    }

    .drgImg3 {
        width: 120px;
    }

    .drgImg4 {
        width: 300px;
    }

    .drgImg5 {
        width: 150px;
    }

    .drgImg6 {
        width: 180px;
    }

    .drgImg7 {
        width: 200px;
    }

    .mobileSpace {
        top: 1180px;
    }

    .page {
        width: 85%;
    }

    .ytEmbed {
        margin: 5px 0 5px 0;
    }

    .ytEmbed iframe {
        width: 85%;
    }

    p#info {
        width: 90%;
    }

    img.selfie {
        width: 80%;
    }

    .eva {
        width: 85%;
    }

    .infobox {
        width: 80%;
    }

    #tapeFloat {
        width: 85%;
    }

    .ui-draggable-handle {
        touch-action: auto !important;
    }

    #wrapper svg {
        margin-top: 100px;
    }

    .hcb-wrapper {
        width: 100%;
    }

    .comment img {
        width: 100%;
    }
}

@media (pointer: none), (pointer: coarse) {
    .cursorButton {
        display: none;
    }

    #secTwo {
        padding-top: 1000px !important;
    }
}